body {
  background-image: url("/DrumDrum/background.jpg");
  /* background-size: cover; */
}

.notes {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.note {
  border: 0.2rem solid lightcoral;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 0.6rem 0.3rem;
  transition: all 1.5s ease;
  width: 6rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
